*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction:column;

}
.side-bar{
    display:flex;
    flex-direction:column;
    flex:1;
    background:white;
    padding:4vw;
    border:50vw;
    width:10vw;
    border-radius:2vw;
    box-shadow:1vw 1vh 1vw  gray;
    border:orange, solid, 2px;
}
heading{
    background-color:rgb(255, 245, 227);
    width:100vw;
    height:8vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;


    

}
.checkout{
    display:fle;
    flex:5;
    flex-direction:column;
    width:80vw;
    background:rgb(255, 217, 148);
    padding:5vh;
    border-radius:2vw;
    border:2px solid orange;
    box-shadow:1vw 1vh 1vw  gray;  



    


}
.section{
    width:100vw;
    height:80vh;
    display:flex;
    flex-direction: row;
    background:rgb(255, 255, 255);

}
.pages{
    display:flex;
    justify-content:space-between;

}
.Pay{
    height:10vh;
    width:30vw;
}